<h2>Login</h2>

<form action="/login" method="post">

  <label>Email:
    <input id="email" name="email">
  </label><br>
  <label>Password:
    <input id="password" name="password" type="password">
  </label><br>

  <input type="submit" value="Submit">
</form>
