<div class="container profile">
  <div id="profile-card" class="row">
    <div class="col-sm-6">
      <h2><%=@user.name%></h2><br>
      <p><%=@user.email%></p>
    </div>
    <div class="col-sm-6">
      <form action="/requests/<%=@user.slug%>/show" method='get'>
        <input class='btn-primary' type="submit" value="View Requests">

      </form><br>

      <form action="/requests/new" method='get'>
        <input class='btn-primary' type="submit" value="New Requests">

      </form><br>

      <form action="/logout" method='post'>
        <input class='btn-primary' type="submit" value="Logout">

      </form>
    </div>
  </div>
</div>
