<h2><%=@user.name%></h2>
<p><%=@user.email%></p>

<form action="/requests/<%=@user.slug%>/show" method='get'>
  <input type="submit" value="View Requests">

</form>
<form action="/new-request" method='get'>
  <input type="submit" value="New Requests">

</form>

<form action="/logout" method='post'>
  <input type="submit" value="logout">

</form>
