<h2>New Request</h2>

<form  action="new-request" method="post">
  <label>Item:
    <input id="item" name="item">
  </label><br>
  <label>Price:
    <input id="price" name="price">
  </label><br>
  <label>Quantity:
    <input id="quantity" name="quantity">
  </label><br>
  <label>Vendor:
    <input id="vendor" name="vendor">
  </label><br>
  <label>Url:
    <input id="url" name="url">
  </label><br>
  
  <input type="submit" value="Submit Request">
</form>
