

    <div class="container">
      <h1>Welcome to pOrder</h1>
      <p>The tool to keep your orders in check</p>
      <form action="/signup" method="get">
        <input type="submit" value="Create Account">
      </form><br>
      <form action="/login" method="get">
        <input type="submit" value="Login">
      </form>


    </div>
  </div>
</div>
